<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Skyle API</title>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>

	<!-- Maps API -->
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9q276yus9n"></script> <!-- PRODUCTION -->
	<!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk"></script> -->
</head>
<body>
<div style="margin: 0; padding: 0;">
	<div id="map" style="width: 100vw; height: 100vh;"></div>

    <script>
      document.domain = location.host.split(':')[0];
    </script>

	<script>
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng({{ rows[0]['latitude'] }}, {{ rows[0]['longitude'] }}),
            zoom: 15
        });
        var polyline = new naver.maps.Polyline({  
            map: map,
            path: [  
                {% for x in range(0, len(rows)) %}
                    new naver.maps.LatLng({{ rows[x]['latitude'] }}, {{ rows[x]['longitude'] }}),
                {% endfor %}
            ]
        });

		var marker = new naver.maps.Marker({
			position: new naver.maps.LatLng({{ rows[len(rows)-1]['latitude'] }}, {{ rows[len(rows)-1]['longitude'] }}),
			map: map
		});

		var map_distance = {% for x in range(0, len(rows)-1) %}map.getProjection().getDistance(
				new naver.maps.LatLng({{ rows[x]['latitude'] }}, {{ rows[x]['longitude'] }}),
				new naver.maps.LatLng({{ rows[x+1]['latitude'] }}, {{ rows[x+1]['longitude'] }}),
		) + {% endfor %} 0;

		// alert(Math.round(map_distance) + 'm')

		top.document.body.querySelector("#length_text").innerHTML = "이동 추정 거리: " + Math.round(map_distance) + "m";
	</script>
</div>
</body>
</html>